/* ---------------------
RESET
--------------------------------*/


/* ---------------------
Import
--------------------------------*/


/* ---------------------
Import
--------------------------------*/

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";

/*---------------
Global
-----------------*/

:root {
    --main-color: #054B8E;
    --main-color-light: #055B98;
    --title-text-clr: #054B8E;
    --text-clr: #545050;
    --section-overlay: #c964618f;
    --section-overlay-light: #c964617d;
    --white: #fff;
    --white-10: #fffffff7;
}

.row {
    display: flex;
}

.d-flex {
    display: flex;
}

.wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.d-none {
    display: none;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.ai-s {
    align-items: flex-start;
}

.jc-betw {
    justify-content: space-between;
}

.jc-a {
    justify-content: space-around;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.bg-main {
    background-color: var(--main-color);
    color: var(--white);
}

.btn {
    display: block;
    width: max-content;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: 5px;
    margin: 1rem auto;
    padding: 0.8rem 1.5rem;
    font-family: "Poppins", sans-serif !important;
}


/* ------------------------------- preloaded start ---------------------------- */

@keyframes ZoomInOut {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.preloaded {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f99b9af1;
    z-index: 10000000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloaded span {
    display: block;
    height: 60px;
    width: 60px;
    background-color: var(--main-color-light);
    border-radius: 50%;
    animation: ZoomInOut 1s ease infinite;
}


/* ------------------------------- preloaded end ---------------------------- */

.section_title {
    text-align: center;
    position: relative;
}

.section_title .title_text {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 2.2rem;
}

.section_title .title_background {
    text-transform: uppercase;
    font-size: 4rem;
    position: absolute;
    top: -1.5rem;
    z-index: -2;
    font-weight: 900;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(5, 75, 142, 0.1490196078);
    width: max-content;
}

section {
    padding: 0 1rem;
    margin: 0 auto;
}

section:not(.divider) {
    min-height: 100vh;
}

@media screen and (min-width: 895px) {
    section {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 1005px) {
    section {
        padding: 0 4rem;
    }
}

@media screen and (min-width: 1200px) {
    section {
        padding: 0 calc(50% - 580px);
    }
}

section:not(.hero) {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.container:not(#home) .hero {
    color: var(--white);
    position: relative;
    text-align: center;
    height: 80vh;
    min-height: inherit;
    overflow: hidden;
}

.container:not(#home) .hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #d3828287;
    z-index: -1;
}

.container:not(#home) .hero img {
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.container:not(#home) .hero .wrapper {
    width: 100%;
    margin-top: 7rem;
}

@media screen and (min-width: 768px) {
    .container:not(#home) .hero .wrapper {
        width: 75%;
    }
}

.container:not(#home) .hero .wrapper h1 {
    font-size: 2rem;
}

@media screen and (min-width: 920px) {
    .container:not(#home) .hero .wrapper h1 {
        font-size: 3rem;
    }
}


/*---------------
Global
-----------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    user-select: none;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/* ---------------------
HEADER
--------------------------------*/

header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    right: 0;
    padding: 1.5rem 2rem;
    transition: all ease-in-out 0.3s;
    z-index: 1000000000;
}

header .logo img {
    width: 40px;
}

@media screen and (min-width: 600px) {
    header .logo img {
        width: 50px;
    }
}

header .menu-togle {
    cursor: pointer;
    color: var(--white) !important;
    transition: all ease-in-out 0.3s;
}

header .menu-togle i {
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
    header .menu-togle {
        display: none;
    }
}

header ul {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--white-10);
    text-align: center;
    right: -400%;
    top: 0;
    padding-top: 5.5rem;
    transition: all ease-in-out 0.3s;
}

header ul.show {
    right: 0;
}

header ul .close {
    top: 1.5rem;
    right: 2rem;
    transform: rotate(45deg);
    cursor: pointer;
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
    header ul .close {
        display: none;
    }
}

header ul li:not(.close) {
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0.35rem;
}

header ul li:not(.close) a {
    display: block;
    text-transform: capitalize;
    transition: all ease-in-out 0.25s;
    position: relative;
}

header ul li:not(.close) a.active,
header ul li:not(.close) a:hover {
    color: var(--main-color) !important;
}

@media screen and (min-width: 768px) {
    header ul li:not(.close) a {
        color: white !important;
    }
    header ul li:not(.close) a.active::before {
        content: "";
        position: absolute;
        top: 105%;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: var(--main-color);
    }
}

@media screen and (min-width: 768px) {
    header ul li:not(.close) {
        padding: 0;
    }
}

@media screen and (min-width: 430px) {
    header ul {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    header ul {
        position: relative;
        right: inherit;
        top: inherit;
        display: flex;
        gap: 1.5rem;
        padding-top: 0;
        width: auto !important;
        background-color: transparent;
    }
}

header.scroll {
    background-color: var(--white);
    box-shadow: -7px -11px 20px 4px rgba(0, 0, 0, 0.231372549);
}

header.scroll .menu-togle,
header.scroll ul li a:not(.active) {
    color: black !important;
}

@media screen and (min-width: 1005px) {
    header {
        padding: 2rem 4rem;
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding: 2rem calc(50% - 580px);
    }
}


/* ---------------------
HOME
--------------------------------*/

#home .hero {
    color: var(--white);
    text-align: center;
}

#home .hero img {
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

#home .hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #d3828287;
    z-index: -1;
}

#home .hero h1 {
    font-size: 2.2rem;
    line-height: 50px;
}

#home .hero h1 span {
    color: var(--main-color);
}

#home .hero .wrapper {
    width: 100%;
    margin-top: 3rem;
}

@media screen and (min-width: 768px) {
    #home .hero .wrapper {
        width: 75%;
    }
}

#home .services .services_content_text {
    text-align: center;
    margin-top: 1.5rem;
}

#home .services .services_content {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

#home .services .services_content .services_content_card {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    padding: 1.5rem;
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}

#home .services .services_content .services_content_card img {
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

#home .services .services_content .services_content_card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000052;
    z-index: -1;
    top: 0;
    left: 0;
}

#home .services .services_content .services_content_card a {
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 28px;
    color: white;
}

@media screen and (min-width: 480px) {
    #home .services .services_content .services_content_card a {
        font-size: 1.5rem;
    }
}

#home .services .services_content .services_content_card a span {
    display: block;
}

@media screen and (min-width: 790px) {
    #home .services .services_content {
        grid-template-areas: "b b b" "c d e";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #home .services .services_content .services_content_card:nth-of-type(2) {
        grid-area: b;
    }
    #home .services .services_content .services_content_card:nth-of-type(3) {
        grid-area: c;
    }
    #home .services .services_content .services_content_card:nth-of-type(4) {
        grid-area: d;
    }
    #home .services .services_content .services_content_card:nth-of-type(5) {
        grid-area: e;
    }
}

#home .about .about_content {
    flex-wrap: wrap;
    margin-top: 4rem;
    color: var(--text-clr);
}

#home .about .about_content .about_img {
    max-height: 465px;
    overflow: hidden;
}

#home .about .about_content .about_text h1 {
    margin: 1.5rem 0 0.5rem;
    margin-top: 0;
    font-size: 1.8rem;
}

#home .about .about_content .about_text p {
    text-align: justify;
}

#home .about .about_content .btn {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 916px) {
    #home .about .about_content {
        flex-wrap: nowrap;
        gap: 2rem;
    }
    #home .about .about_content .about_img {
        min-width: 45%;
    }
    #home .about .about_content .btn {
        width: fit-content;
        margin: 1rem 0;
        margin-right: auto;
    }
}

#home .blog {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#home .blog .wrapper {
    width: 100%;
}

#home .blog .blog_title {
    flex-wrap: wrap;
}

#home .blog .blog_title .section_title {
    width: 100%;
}

@media screen and (min-width: 721px) {
    #home .blog .blog_title .section_title {
        width: inherit;
    }
}

#home .blog .blog_title .arrows {
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
}

#home .blog .blog_title .arrows span {
    display: flex;
    height: 40px;
    align-items: center;
    width: 40px;
    justify-content: center;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.431372549);
    border-radius: 50%;
    font-size: 1.1rem;
}

#home .blog .blog_title .arrows span.active {
    background: var(--main-color);
    color: var(--white);
}

@media screen and (min-width: 721px) {
    #home .blog .blog_title .arrows {
        width: inherit;
        margin-top: 0;
    }
}

#home .blog .article_list {
    margin-top: 3rem;
}

#home .blog .article_list .card_wrapper {
    padding: 0.5rem;
}

#home .blog .article_list .card_wrapper .blog_card {
    position: relative;
    width: 100%;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
}

#home .blog .article_list .card_wrapper .blog_card .blog_card_header {
    /* overflow: hidden; */
    border-radius: 7px 7px 0 0;
    height: 200px;
}

#home .blog .article_list .card_wrapper .blog_card .blog_card_header .blog_header_date {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--main-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem;
    border-radius: 5px;
    width: 75px;
    z-index: 20;
}

#home .blog .article_list .card_wrapper .blog_card .blog_card_header .blog_header_date span {
    display: block;
    font-size: 1.1rem;
}

#home .blog .article_list .card_wrapper .blog_card .blog_card_header .blog_header_date span:nth-of-type(1) {
    line-height: 20px;
    font-weight: 500;
}

#home .blog .article_list .card_wrapper .blog_card .blog_card_header .blog_header_date span:nth-of-type(2) {
    font-weight: 700;
}

#home .blog .article_list .card_wrapper .blog_card .blog_card_header img {
    border-radius: 7px 7px 0 0;
    filter: brightness(0.85);
    width: 100%;
    height: 100%;
}

#home .blog .article_list .card_wrapper .blog_card .blog_card_content {
    padding: 0.8rem;
}

#home .blog .article_list .card_wrapper .blog_card .blog_card_content h1 {
    margin-bottom: 0.5rem;
}

#home .blog .article_list .card_wrapper .blog_card .blog_card_content p {
    text-align: justify;
}

#home .blog .blog_footer {
    text-align: center;
    margin: 2rem 0;
}

#home .blog .blog_footer a {
    transition: all ease-in-out 0.3s;
    font-weight: 700;
}

#home .blog .blog_footer a:hover {
    color: var(--main-color);
}

#home .contact-section-list {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
}

#home .contact-section-list li {
    width: fit-content;
    text-align: left;
}

.divider {
    text-align: center;
    min-height: 25vh;
}

.divider .wrapper a {
    color: #d47e7e;
    font-size: 1rem;
    text-decoration: underline;
}

.divider:not(.statistique) .wrapper {
    width: 80%;
}

@media screen and (min-width: 900px) {
    .divider:not(.statistique) .wrapper {
        width: 70%;
    }
}

.divider:not(.statistique) .wrapper h1 {
    margin-bottom: 0.6rem;
}

.divider:is(.statistique) .wrapper {
    flex-wrap: wrap;
    width: 90%;
}

@media screen and (min-width: 900px) {
    .divider:is(.statistique) .wrapper {
        width: 80%;
    }
}

.divider:is(.statistique) .wrapper h1 {
    margin-bottom: 0.6rem;
    width: 100%;
    font-size: 2.3rem;
}

@media screen and (min-width: 570px) {
    .divider:is(.statistique) .wrapper h1 br {
        display: none;
    }
}

.divider:is(.statistique) .wrapper .stats {
    flex-wrap: wrap;
    width: 100%;
}

.divider:is(.statistique) .wrapper .stats span {
    display: block;
    width: 48%;
    margin: 1rem 0;
    font-size: 1.2rem;
}

@media screen and (min-width: 725px) {
    .divider:is(.statistique) .wrapper .stats span {
        width: 23%;
    }
}

@media screen and (min-width: 725px) {
    .divider:is(.statistique) .wrapper .stats {
        gap: 1rem;
    }
}

.atouts .atouts_content {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.atouts .atouts_content .atout_card {
    text-align: center;
    padding: 1rem;
}

.atouts .atouts_content .atout_card .atout_title {
    margin: 0.6rem auto;
    color: var(--main-color-light);
    text-transform: uppercase;
}

.atouts .atouts_content .atout_card .atout_desc {
    color: rgb(5, 91, 152);
}

@media screen and (min-width: 768px) {
    .atouts .atouts_content .atout_card {
        width: 30%;
    }
}


/* ---------------------
SERVICES
--------------------------------*/

#service .services .services_wrapper_desc {
    text-align: center;
    margin-bottom: 2rem;
}

#service .services .services_wrapper_desc h2 {
    font-size: 1.5rem;
    margin: 1rem auto;
}

@media screen and (min-width: 768px) {
    #service .services .services_wrapper_desc h2 {
        font-size: 2.5rem;
    }
}

#service .services .services_categories ul {
    gap: 1rem;
    flex-wrap: wrap;
    margin: 7rem auto 3rem auto;
}

#service .services .services_categories ul li a {
    background-color: var(--main-color);
    color: var(--white) !important;
    padding: 0.5rem 0.8rem;
    border-radius: 50px;
    min-width: 100%;
    display: block;
    text-align: center;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.431372549);
    transition: all ease-in-out 0.3s;
}

#service .services .services_categories ul li a.active {
    background-color: #d67c7c;
}

@media screen and (min-width: 760px) {
    #service .services .services_categories ul li a {
        min-width: 120px;
    }
}

#service .services .services_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#service .services .services_content .services_content_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.6rem;
}

#service .services .services_content .services_content_card img {
    border-radius: 7px;
    width: 100%;
}

@media screen and (min-width: 725px) {
    #service .services .services_content .services_content_card img {
        width: 48%;
    }
}

#service .services .services_content .services_content_card .service_card_content h1 {
    margin: 0.6rem 0;
}

#service .services .services_content .services_content_card .service_card_content p {
    text-align: justify;
}

#service .services .services_content .services_content_card .service_card_content small {
    background-color: var(--main-color);
    color: var(--white);
    padding: 0.3rem 0.6rem;
    border-radius: 50px;
}

@media screen and (min-width: 725px) {
    #service .services .services_content .services_content_card .service_card_content {
        width: 48%;
    }
}

#service .services .services_footer {
    padding: 4rem;
    text-align: center;
}

#service .services .services_footer .wrapper {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #service .services .services_footer .wrapper {
        width: 85%;
    }
}

#service .services .services_footer .wrapper svg {
    fill: var(--main-color);
}

#service .blueTable {
    margin: 1rem auto;
}

#service .products_wrapper_desc {
    text-align: center;
}

#service .products_wrapper_desc .products_content_text {
    margin-top: 1rem;
}

#service table {
    border-spacing: 2px;
    border-radius: 5px;
    width: 100%;
}

#service table.blueTable th {
    padding: .5rem 1rem;
    text-transform: uppercase;
}

#service table.blueTable th,
#service table.blueTable td {
    border: solid 1px #222;
    padding: .5rem 1rem;
    border-radius: 5px;
}

#service table.blueTable td svg {
    width: 20px;
    margin-right: .4rem;
    fill: var(--main-color);
}

#service table.blueTable tr td:first-of-type div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#service table.blueTable td:not(:first-of-type) span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    padding: .1rem;
}

#service table.blueTable span.true {
    background-color: rgb(101, 224, 101);
}

#service table.blueTable span.false {
    background-color: rgb(224, 101, 101);
}

@media screen and (max-width: 569px) {
    #service table.blueTable tr {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }
    #service table.blueTable tr th,
    #service table.blueTable tr td {
        width: 50%;
    }
    #service table.blueTable tr th:first-of-type,
    #service table.blueTable tr td:first-of-type {
        width: 100%;
    }
    #service table.blueTable tr td:first-of-type div {
        justify-content: center;
    }
}


/* ---------------------
ABOUT
--------------------------------*/

#about .section_title {
    margin-bottom: 2rem;
}

#about section:not(.statistique) .wrapper>p {
    text-align: justify;
}

#about .description .section_title {
    margin-bottom: 0rem;
}

#about .description .description_content {
    flex-wrap: wrap-reverse;
    padding: 2rem 0;
    gap: 2rem;
}

#about .description .description_content .director {
    width: 100%;
    text-align: center;
}

#about .description .description_content .director h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
}

#about .description .description_content .director .director_profil {
    width: 95px;
    height: 95px;
    margin: 0.8rem auto;
}

#about .description .description_content .director .director_profil img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
}

#about .description .description_content p {
    text-align: justify;
}

@media screen and (min-width: 1000px) {
    #about .description .description_content {
        flex-wrap: nowrap;
        gap: 1rem;
    }
    #about .description .description_content .director {
        width: 25%;
    }
    #about .description .description_content p {
        width: 75%;
    }
}

#about .mission .wrapper>p {
    padding: 1rem 0;
}

@media screen and (max-width: 376px) {
    #about .section_title .title_background {
        font-size: 3rem;
        top: -0.8rem;
    }
    #about .section_title .title_text {
        font-size: 2rem;
    }
}


/* ---------------------
CONTACT
--------------------------------*/

#contact .map {
    min-height: auto;
}

#contact .map .wrapper {
    width: 100%;
}

#contact .map .wrapper iframe {
    width: 100%;
    height: 300px;
}

#contact .form {
    padding-top: 0 !important;
}

#contact .form .form_title {
    text-align: center;
    padding: 1rem 0;
}

#contact .form .wrapper>.d-flex {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

#contact .form .wrapper>.d-flex .securex_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

#contact .form .wrapper>.d-flex .securex_info .info_item {
    gap: 0.6rem;
}

#contact .form .wrapper>.d-flex .securex_info .info_item .info_img {
    background-color: var(--main-color);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .form .wrapper>.d-flex .securex_info .info_item .info_img img {
    width: 15px;
}

@media screen and (min-width: 700px) {
    #contact .form .wrapper>.d-flex .securex_info .info_item {
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    #contact .form .wrapper>.d-flex .securex_info {
        width: 35%;
    }
}

#contact .form .wrapper>.d-flex .form_content {
    width: 100%;
}

#contact .form .wrapper>.d-flex .form_content .form_item {
    margin: 0.5rem 0;
}

#contact .form .wrapper>.d-flex .form_content .form_item textarea,
#contact .form .wrapper>.d-flex .form_content .form_item input {
    width: 100%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1098039216);
    padding: 0.6rem 0.5rem;
    border-radius: 4px;
    font-family: poppins;
    font-size: 0.8rem;
    display: block;
}

#contact .form .wrapper>.d-flex .form_content .btn {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 700px) {
    #contact .form .wrapper>.d-flex .form_content {
        width: 60%;
    }
}

@media screen and (min-width: 700px) {
    #contact .form .wrapper>.d-flex {
        flex-wrap: nowrap;
    }
}


/* ---------------------
FAQ
--------------------------------*/

@keyframes scaleWidth {
    0% {
        background: var(--main-color);
        scale: 1.1;
    }
    50% {
        background: var(--main-color-light);
        scale: 1;
    }
    100% {
        background: var(--main-color);
        scale: 1.1;
    }
}

@keyframes scaleWidth2 {
    0% {
        background: #f99b9a;
        scale: 1.1;
    }
    50% {
        background: #f99b9a9c;
        scale: 1;
    }
    100% {
        background: #f99b9a;
        scale: 1.1;
    }
}

#faq .message_wall {
    padding-bottom: 0 !important;
}

#faq .message_wall .incomming {
    justify-content: flex-start;
    gap: 1rem;
    margin: 0.5rem auto;
}

#faq .message_wall .incomming .incomming_profil {
    width: 50px;
    position: relative;
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px var(--main-color-light);
    border-width: 5px;
    animation: scaleWidth 1.3s infinite linear;
}

#faq .message_wall .incomming .incomming_profil svg {
    width: 15px;
    aspect-ratio: 1;
}

#faq .message_wall .incomming .incomming_question {
    max-width: calc(100% - 135px);
    width: max-content;
    min-height: 42px;
    border-radius: 5px;
    padding: 0.8rem 0.5rem;
    background: #5791ba;
    color: white;
}

#faq .message_wall .incomming .incomming_question i {
    left: -8px;
    top: 21px;
    color: #5791ba;
    z-index: -1;
    transform: translateY(-50%) rotate(180deg);
}

#faq .message_wall .outcomming {
    justify-content: flex-end;
    gap: 1rem;
    margin: 0.5rem auto;
}

#faq .message_wall .outcomming .outcomming_profil {
    width: 50px;
    position: relative;
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px #f99b9ad2;
    animation: scaleWidth2 1.3s infinite linear;
}

#faq .message_wall .outcomming .outcomming_question {
    width: calc(100% - 135px);
    min-height: 42px;
    border-radius: 5px;
    padding: 0.8rem 0.5rem;
    background: #f99b9a;
    color: white;
}

#faq .message_wall .outcomming .outcomming_question i {
    right: -8px;
    top: 21px;
    color: #f99b9a;
    z-index: -1;
    transform: translateY(-50%);
}

@media screen and (min-width: 760px) {
    #faq .message_wall .wrapper {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    #faq .message_wall .wrapper {
        width: 800px;
    }
}

#faq .form {
    padding-top: 0 !important;
}

form button img {
    display: none;
}

form button span {
    display: block;
}

form button.is-loading span {
    display: none;
}

form.is-loading button {
    opacity: .8;
    cursor: not-allowed !important;
}

form button.is-loading img {
    display: block;
}

form button {
    cursor: pointer;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#faq .form .form_title {
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
}

#faq .form .form_title span {
    color: var(--main-color);
}

#faq .form .wrapper {
    width: 100%;
}

#faq .form .wrapper>.d-flex {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 1rem;
}

#faq .form .wrapper>.d-flex .form_content {
    width: 100%;
}

#faq .form .wrapper>.d-flex .form_content .form_item {
    margin: 0.5rem 0;
}

#faq .form .wrapper>.d-flex .form_content .form_item textarea,
#faq .form .wrapper>.d-flex .form_content .form_item input {
    width: 100%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1098039216);
    padding: 0.6rem 0.5rem;
    border-radius: 4px;
    font-family: poppins;
    font-size: 0.8rem;
    display: block;
}

#faq .form .wrapper>.d-flex .form_content .btn {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 700px) {
    #faq .form .wrapper>.d-flex .form_content {
        width: 60%;
    }
}

@media screen and (min-width: 700px) {
    #faq .form .wrapper>.d-flex {
        flex-wrap: nowrap;
    }
}


/* ---------------------
BLOG
--------------------------------*/

#blog .intro {
    padding-bottom: 0;
}

#blog .intro .wrapper {
    flex-wrap: wrap;
    text-align: center;
}

#blog .intro .wrapper h2 {
    margin: 0.4rem 0;
}

#blog .intro .wrapper .intro_img {
    margin: 0.8rem auto;
}

@media screen and (min-width: 825px) {
    #blog .intro .wrapper {
        flex-wrap: nowrap;
    }
    #blog .intro .wrapper .intro_img,
    #blog .intro .wrapper .intro_text {
        width: 47%;
    }
}

#blog .blog {
    padding-top: 0rem;
}

#blog .blog .form_item {
    margin: 1rem 0;
    position: relative;
    width: 100%;
}

#blog .blog .form_item input {
    width: 100%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1098039216);
    padding: 0.6rem 0.5rem;
    border-radius: 4px;
    font-family: poppins;
    font-size: 0.8rem;
    display: block;
}

#blog .blog .form_item i {
    position: absolute;
    top: 50%;
    right: 0.6rem;
    transform: translateY(-50%);
}

#blog .blog .wrapper {
    min-width: 80%;
}

#blog .blog .articles_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#blog .blog .articles_list .blog_card {
    position: relative;
    width: 100%;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3215686275);
    border-radius: 7px;
}

#blog .blog .articles_list .blog_card .blog_card_header {
    /* overflow: hidden; */
    height: 200px;
    border-radius: 7px 7px 0 0;
}

#blog .blog .articles_list .blog_card .blog_card_header .blog_header_date {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--main-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem;
    border-radius: 5px;
    width: 75px;
    z-index: 20;
}

#blog .blog .articles_list .blog_card .blog_card_header .blog_header_date span {
    display: block;
    font-size: 1.1rem;
}

#blog .blog .articles_list .blog_card .blog_card_header .blog_header_date span:nth-of-type(1) {
    line-height: 20px;
    font-weight: 500;
}

#blog .blog .articles_list .blog_card .blog_card_header .blog_header_date span:nth-of-type(2) {
    font-weight: 700;
}

#blog .blog .articles_list .blog_card .blog_card_header img {
    border-radius: 7px 7px 0 0;
    filter: brightness(0.85);
    width: 100%;
    height: 100%;
}

#blog .blog .articles_list .blog_card .blog_card_content {
    padding: 0.8rem;
}

#blog .blog .articles_list .blog_card .blog_card_content h1 {
    margin-bottom: 0.5rem;
}

#blog .blog .articles_list .blog_card .blog_card_content p {
    text-align: justify;
}

@media screen and (min-width: 560px) {
    #blog .blog .articles_list .blog_card {
        width: 48%;
    }
}

@media screen and (min-width: 1100px) {
    #blog .blog .articles_list .blog_card {
        width: 32%;
    }
}


/* ---------------------
SIMPLE ARTICLE
--------------------------------*/

#single .intro {
    padding-bottom: 0;
}

#single .intro .wrapper {
    flex-wrap: wrap-reverse;
    text-align: justify;
}

#single .intro .wrapper h2 {
    margin: 0.4rem 0;
    color: var(--main-color);
}

#single .intro .wrapper h3 {
    margin: 0.5rem 0;
}

#single .intro .wrapper .intro_img {
    margin: 0.8rem auto;
}

#single .intro .wrapper .intro_img,
#single .intro .wrapper .intro_img img {
    border-radius: 5px;
}

#single .blog {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#single .blog .wrapper {
    width: 100%;
}

#single .blog .blog_title {
    flex-wrap: wrap;
}

#single .blog .blog_title .section_title {
    width: 100%;
}

@media screen and (min-width: 721px) {
    #single .blog .blog_title .section_title {
        width: inherit;
    }
}

#single .blog .blog_title .section_title .title_background {
    font-size: 3.5rem;
    top: -1.2rem;
}

#single .blog .blog_title .arrows {
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
}

#single .blog .blog_title .arrows span {
    display: flex;
    height: 40px;
    align-items: center;
    width: 40px;
    justify-content: center;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.431372549);
    border-radius: 50%;
    font-size: 1.1rem;
}

#single .blog .blog_title .arrows span.active {
    background: var(--main-color);
    color: var(--white);
}

@media screen and (min-width: 721px) {
    #single .blog .blog_title .arrows {
        width: inherit;
        margin-top: 0;
    }
}

#single .blog .article_list {
    margin-top: 3rem;
}

#single .blog .article_list .card_wrapper {
    padding: 0.5rem;
}

#single .blog .article_list .card_wrapper .blog_card {
    position: relative;
    width: 100%;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
}

#single .blog .article_list .card_wrapper .blog_card .blog_card_header {
    overflow: hidden;
    border-radius: 7px 7px 0 0;
}

#single .blog .article_list .card_wrapper .blog_card .blog_card_header .blog_header_date {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--main-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem;
    border-radius: 5px;
    width: 75px;
    z-index: 20;
}

#single .blog .article_list .card_wrapper .blog_card .blog_card_header .blog_header_date span {
    display: block;
    font-size: 1.1rem;
}

#single .blog .article_list .card_wrapper .blog_card .blog_card_header .blog_header_date span:nth-of-type(1) {
    line-height: 20px;
    font-weight: 500;
}

#single .blog .article_list .card_wrapper .blog_card .blog_card_header .blog_header_date span:nth-of-type(2) {
    font-weight: 700;
}

#single .blog .article_list .card_wrapper .blog_card .blog_card_header img {
    border-radius: 7px 7px 0 0;
    filter: brightness(0.85);
    aspect-ratio: 1.33;
}

#single .blog .article_list .card_wrapper .blog_card .blog_card_content {
    padding: 0.8rem;
}

#single .blog .article_list .card_wrapper .blog_card .blog_card_content h1 {
    margin-bottom: 0.5rem;
}

#single .blog .article_list .card_wrapper .blog_card .blog_card_content p {
    text-align: justify;
}


/* ---------------------
FOOTER
--------------------------------*/

footer {
    padding: 1rem;
    text-align: center;
}

footer .footer_top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.2rem;
}

footer .footer_top>ul,
footer .footer_top>div {
    width: 100%;
}

footer .footer_top .footer_desc .logo {
    border-radius: 7px;
    background-color: var(--white);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 0.6rem !important;
}

footer .footer_top .footer_desc .logo img {
    width: 100px;
}

@media screen and (min-width: 1000px) {
    footer .footer_top .footer_desc .logo {
        margin: 0;
    }
}

footer .footer_top .footer_desc p {
    margin-bottom: 1rem;
}

footer .footer_top .footer_desc .social_media {
    justify-content: center;
    gap: 1rem;
}

footer .footer_top .footer_desc .social_media svg {
    width: 17px;
}

footer .footer_top ul li {
    padding: 0.3rem 0;
}

footer .footer_top ul li.title {
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}

footer .footer_top ul li a {
    color: var(--white);
    transition: all ease-in-out 0.3s;
}

footer .footer_top ul li a:hover {
    color: #da7c7c;
}

@media screen and (min-width: 580px) {
    footer .footer_top>ul {
        width: 48%;
    }
}

@media screen and (min-width: 720px) {
    footer .footer_top>ul {
        width: 30%;
    }
}

@media screen and (min-width: 1000px) {
    footer .footer_top {
        text-align: left;
        justify-content: space-between;
    }
    footer .footer_top>ul {
        width: 15%;
    }
    footer .footer_top>div {
        width: 40%;
    }
    footer .footer_top .social_media {
        justify-content: flex-start !important;
    }
}

footer .footer_bottom {
    margin-top: 2rem;
    color: var(--white);
}

@media screen and (min-width: 895px) {
    footer {
        padding: 2 2rem;
    }
}

@media screen and (min-width: 1005px) {
    footer {
        padding: 4rem 4rem;
    }
}

@media screen and (min-width: 1200px) {
    footer {
        padding: 4rem calc(50% - 580px);
    }
}


/* ---------------------
Pagination
--------------------------------*/

nav.pagination .pagination__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    margin: 2rem auto;
    flex-wrap: wrap;
}

nav.pagination .pagination__list li {
    display: block;
}

nav.pagination .pagination__list li.is-active,
nav.pagination .pagination__list a {
    display: block;
    box-shadow: 0px 0px 4px 0px rgb(114 106 106 / 11%);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: #efefef;
    opacity: 1;
    transition: opacity ease-in-out .3s;
}

nav.pagination .pagination__list a:hover {
    opacity: .8;
}

nav.pagination .pagination__list li.is-active {
    background: var(--main-color);
    color: var(--white);
}


/* ---------------------
NOTFOUND
--------------------------------*/

#NotFound header {
    background-color: var(--white);
    box-shadow: -7px -11px 20px 4px rgba(0, 0, 0, 0.231372549);
}

#NotFound header .menu-togle,
#NotFound header ul li a:not(.active) {
    color: black !important;
}

#NotFound .not_found_content.wrapper {
    padding-top: 5rem;
}

#NotFound .not_found_text h1 {
    font-size: 6rem;
}

#NotFound .not_found_text p {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 3px;
}

#NotFound .not_found_text a {
    display: block;
    margin: 2rem 0;
    background: #68cc82;
    color: var(--white);
    width: fit-content;
    padding: 1rem 4rem;
}

@media screen and (max-width: 870px) {
    #NotFound .not_found_content.wrapper {
        flex-wrap: wrap-reverse;
    }
    #NotFound .not_found_text {
        width: 100%;
    }
    #NotFound .not_found_text {
        text-align: center;
    }
    #NotFound .not_found_text a {
        margin: 2rem auto;
    }
    #NotFound .not_found_text h1 {
        font-size: 4rem;
    }
    #NotFound .not_found_text p {
        font-size: 1.5rem;
    }
}


/*# sourceMappingURL=style.css.map */

/*
    * Comparateur style
*/

.card-section-c {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    min-height: auto !important;
}
.card-c {
    border: 1px solid #ffcccc;
    border-radius: 4px;
    padding: 10px;
    height: 200px;
    background-color: #e6f7ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-title-c {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .card-description-c {
    font-size: 14px;
    color: #666;
  }