{% extends 'layout.njk' %} 
{% set title = 'A-PROPOS' %} 
{% set pageKey = 'about' %}
{% block content %}
<!-- section hero start -->
<section class="hero d-flex jc-c ai-c">
    <img src="/static/assets/images/hero_bg.jpg" alt="background de la section hero" id="hero_bg">
    <div class="wrapper">
        <h1>A propos de securex</h1>
    </div>
</section>
<!-- section hero end -->

<!-- section descripion start -->
<section class="description d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="section_title">
            <h2 class="title_text">directeur</h2>
            <span class="title_background">directeur</span>
        </div>
        <div class="description_content d-flex jc-c ai-c">
            <div class="director">
                <h1>D’où nous venons, là où nous voulons aller</h1>
                <div class="director_profil">
                    <img src="/static/assets/images/dg.png" alt="">
                </div>
                <h3>Daniel josue, Directeur général De securex</h3>
            </div>
            <p>
                etrouvez dans votre Espace Client tous les services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans votre Espace
                Client tous les services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans votre Espace Client
                tous les services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans votre Espace Client tous les
                services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans votre Espace Client tous les services
                en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans votre Espace Client tous les services en ligne
                pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches.
            </p>
        </div>
    </div>
</section>
<!-- section descripion end -->

<!-- section divider start -->
<section class="divider statistique bg-main d-flex jc-c ai-c">
    <div class="wrapper d-flex jc-c ai-c">
        <h1>Securex en <br> chiffres</h1>
        <div class="stats d-flex jc-betw ai-c">
            <span class="stat">10K <br> clients</span>
            <span class="stat">10K <br> clients</span>
            <span class="stat">10K <br> clients</span>
            <span class="stat">10K <br> clients</span>
        </div>
    </div>
</section>
<!-- section divider end -->

<!-- section mission start -->
<section class="mission d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="section_title">
            <h2 class="title_text">nos missions</h2>
            <span class="title_background">missions</span>
        </div>

        <div class="missions_image">
            <img src="/static/assets/images/mission_bg.png" alt="image representant les missions de securex">
        </div>
        <p>etrouvez dans votre Espace Client tous les services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans
            votre Espace Client tous les services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans votre Espace
            Client tous les services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans votre Espace Client tous
            les services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans votre Espace Client tous les services
            en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans votre Espace Client tous les services en ligne pour
            gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches.</p>
    </div>
</section>
<!-- section mission end -->

<!-- section atouts start -->
<section class="atouts d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="section_title">
            <h2 class="title_text">nos valeurs</h2>
            <span class="title_background">valeurs</span>
        </div>
        <p style="text-align: center;">etrouvez dans votre Espace Client tous les services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans
            votre Espace Client tous les .</p>
        <div class="atouts_content">
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-radio-waves-70.png" alt="">
                    <h2 class="atout_title">L'ecoute</h2>
                    <p class="atout_desc">L'écoute est un élément clé à SECURIX ASSURANCES qui nous permet de mieux cerner les besoins de notre clientèle et d'y répondre favorablement.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-home-70.png" alt="">
                    <h2 class="atout_title">PROXIMITÉ</h2>
                    <p class="atout_desc">Nous restons proches de vous à la souscription des contrats comme à la survenance des sinistres.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-handshake-70.png" alt="">
                    <h2 class="atout_title">LOYAUTÉ</h2>
                    <p class="atout_desc">Le respect des engagements est un principe à SECURIX ASSURANCES. LE CLIENT est notre raison d’être. Nous lui assurons en permanence la TRANQUILLITÉ D’ESPRIT.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-innovation-70.png" alt="">
                    <h2 class="atout_title">INNOVATION</h2>
                    <p class="atout_desc">Des solutions appropriées aux besoins de nos clients, SECURIX ASSURANCES, de concert avec ses partenaires, recherchera des solutions de couverture innovantes.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-user-groups-70.png" alt="">
                    <h2 class="atout_title">PROFESSIONNALISME</h2>
                    <p class="atout_desc">Nous avons des collaborateurs bien formés et ayant plusieurs années d’expérience professionnelle qui sauront trouver, à chaque cas, la solution idoine.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section atouts end -->
 {% endblock %}