{% extends 'layout.njk' %} 
{% set title = 'A-PROPOS' %} 
{% set pageKey = 'about' %}
{% block content %}
<!-- section hero start -->
<section class="hero d-flex jc-c ai-c">
    <img src="/static/assets/images/hero_bg.jpg" alt="background de la section hero" id="hero_bg">
    <div class="wrapper">
        <h1>A propos de securix</h1>
    </div>
</section>
<!-- section hero end -->

<!-- section descripion start -->
<section class="description d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="section_title">
            <h2 class="title_text">directeur</h2>
            <span class="title_background">directeur</span>
        </div>
        <div class="description_content d-flex jc-c ai-c">
            <div class="director">
                <h1>D’où nous venons, là où nous voulons aller</h1>
                <div class="director_profil">
                    <img src="/static/assets/images/francois_nana.jpg" alt="image du directeur de securix sarl">
                </div>
                <h3>Nana François, Directeur général De securix</h3>
            </div>
            <p>
                La commercialisation des produits d’assurances en Côte d’Ivoire se répartit entre les courtiers, les agents généraux, les bureaux directs des compagnies d’assurances et les commerciaux plus ou moins identifiables. Le marché est très concurrentiel et marqué par des dérives telle la sous tarification en assurance de responsabilité civile automobile.
Dans un secteur d’activité où interviennent plusieurs acteurs, l’arrivée d’un nouvel opérateur peut susciter des interrogations sur ses apports en faveur des assurés. Pour répondre à ces questions, SECURIX ASSURANCES se donne pour mission de procurer la tranquillité d’esprit à ses clients à travers les axes ci-après :
 <br><b style="margin: .5rem 0; display:block;">1)     La recherche des couvertures d’assurances selon les besoins des assurés </b>
Il s’agit de faire un diagnostic des risques qui pèsent sur l’assuré (sa vie, son patrimoine et sa responsabilité) afin de déterminer les risques à transférer à l’assurance. Ensuite, il sera question de rechercher et de souscrire des produits adaptés auprès des assureurs solvables et crédibles du marché.
 <br> <b style="margin: .5rem 0; display:block;"> 2)     La prise en compte des contraintes budgétaires des clients </b>
Une bonne couverture d’assurance a forcément un coût qui reflète l’étendue du risque pris en charge par l’assureur. Très souvent, certains assurés souscrivent des garanties peu adaptées à leurs risques en raison non seulement de leurs connaissances insuffisantes de l’assurance mais également à cause de leur volonté de réduire indéfiniment la prime d’assurance. L’approche de SECURIX ASSURANCES est de souscrire de bonnes couvertures tout en prenant en compte les contraintes budgétaires de ses clients dans le cadre des négociations techniques avec les assureurs.
  <br> <b style="margin: .5rem 0; display:block;"> 3)     Le règlement rapide des sinistres </b>
La perception de l’assurance est souvent négative en raison de la complexité du domaine et du comportement peu professionnel de certains assureurs. SECURIX ASSURANCES est conscient des difficultés que rencontrent les assurés à obtenir le paiement de leurs sinistres. Pour cela, il entend se distinguer par une méthode tendant à mobiliser les compétences de ses ressources humaines en vue de favoriser le règlement rapide des sinistres de ses assurés.
L’approche de SECURIX ASSURANCES s’appuie sur des valeurs exigeantes qui sont : Ecoute, Proximité, Professionnalisme, Innovation et Loyauté.

            </p>
        </div>
    </div>
</section>
<!-- section descripion end -->

<!-- section divider start -->
<section class="divider statistique bg-main d-flex jc-c ai-c">
    <div class="wrapper">
        <h1>Demandez plus</h1>
        <p> Comme vous êtes notre priorité, nous avons mis en place un système qui vous permet d’envoyer  <a href="/faq">des questions</a> et nous nous chargerons de vous répondre dans un delais de 24h maximum, car la proximité est l’essence même de notre métier.</p>
    </div>
</section>
<!-- section divider end -->

<!-- section mission start -->
<section class="mission d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="section_title">
            <h2 class="title_text">nos missions</h2>
            <span class="title_background">missions</span>
        </div>

        <div class="missions_image">
            <img src="/static/assets/images/mission_bg.png" alt="image representant les missions de securex">
        </div>
        <p>Les missions de securix-assurance : Procurer la tranquillité d’esprit,
        Accompagner et conseiller les entreprises dans l’identification de leurs
        besoins réels d’assurance au regard des risques spécifiques de leurs
        activités et des risques émergents,
        Rechercher sur le marché les meilleures couvertures en adéquation avec
        les besoins de nos clients aux conditions compétitives de primes,
        Apporter l’expertise et la transparence dans la gestion en vue d’accélérer
        le règlement des sinistres,
        Favoriser l’accessibilité à l’assurance par voie numérique en développant
        des produits innovants.
</p>
    </div>
</section>
<!-- section mission end -->

<!-- section atouts start -->
<section class="atouts d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="section_title">
            <h2 class="title_text">nos valeurs</h2>
            <span class="title_background">valeurs</span>
        </div>
        {# <p style="text-align: center;">etrouvez dans votre Espace Client tous les services en ligne pour gérer en autonomie vos contrats, accéder à vos documents, échanger avec nous... Autant de services destinés à vous simplifier la vie et à faciliter vos démarches. etrouvez dans
            votre Espace Client tous les .</p> #}
        <div class="atouts_content">
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-radio-waves-70.png" alt="">
                    <h2 class="atout_title">L'ecoute</h2>
                    <p class="atout_desc">L'écoute est un élément clé à SECURIX ASSURANCES qui nous permet de mieux cerner les besoins de notre clientèle et d'y répondre favorablement.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-home-70.png" alt="">
                    <h2 class="atout_title">PROXIMITÉ</h2>
                    <p class="atout_desc">Nous restons proches de vous à la souscription des contrats comme à la survenance des sinistres.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-handshake-70.png" alt="">
                    <h2 class="atout_title">LOYAUTÉ</h2>
                    <p class="atout_desc">Le respect des engagements est un principe à SECURIX ASSURANCES. LE CLIENT est notre raison d’être. Nous lui assurons en permanence la TRANQUILLITÉ D’ESPRIT.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-innovation-70.png" alt="">
                    <h2 class="atout_title">INNOVATION</h2>
                    <p class="atout_desc">Des solutions appropriées aux besoins de nos clients, SECURIX ASSURANCES, de concert avec ses partenaires, recherchera des solutions de couverture innovantes.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-user-groups-70.png" alt="">
                    <h2 class="atout_title">PROFESSIONNALISME</h2>
                    <p class="atout_desc">Nous avons des collaborateurs bien formés et ayant plusieurs années d’expérience professionnelle qui sauront trouver, à chaque cas, la solution idoine.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section atouts end -->
 {% endblock %}
