{% extends 'layout.njk' %} 
{% set title = 'COMPARATEUR' %} 
{% set pageKey = 'comparateur' %}
{% block content %}
<!-- section hero start -->
        <section class="hero d-flex jc-c ai-c">
            <img src="/static/assets/images/hero_bg.jpg" alt="background de la section hero" id="hero_bg">
            <div class="wrapper">
                <h1>Des prix de luxe</h1>
            </div>
        </section>
        <!-- section hero end -->
 {% endblock %}