@import"https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";
:root {
    --main-color: #054B8E;
    --main-color-light: #055B98;
    --title-text-clr: #054B8E;
    --text-clr: #545050;
    --section-overlay: #FF7E7E;
    --section-overlay-light: #ff7e7eba;
    --white: #fff;
    --white-10: #fffffff7;
    --black: rgb(0, 0, 0)
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box
}

body {
    font-family: Poppins, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    user-select: none
}

img {
    max-width: 100%;
    vertical-align: middle
}

.opacity-0 {
    opacity: 0
}

.opacity-1 {
    opacity: 1
}

.img-thumbnail {
    width: 100px!important
}

header {
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--white);
    box-shadow: -7px -11px 20px 4px #0000003b;
    width: 100%;
    height: 90px;
    padding: 1rem 1.2rem;
    transition: all ease-in-out .3s
}

@media screen and (min-width: 768px) {
    header {
        position: relative
    }
}

@media screen and (min-width: 1005px) {
    header {
        padding: 2rem 4rem
    }
}

header .logo_head {
    width: 55px
}

.profil_block .profil {
    height: 42px;
    width: 54px;
    border-radius: 5px;
    background: red;
    padding: .5rem;
    display: none;
    cursor: pointer
}

.profil_block .profil img {
    object-fit: contain;
    width: 100%;
    height: 100%
}

header .menu-togle {
    cursor: pointer;
    color: var(--black)!important;
    transition: all ease-in-out .3s
}

header .menu-togle i {
    position: relative;
    font-size: 1.3rem;
    transition: all ease-in-out .3s;
    z-index: 100000000000
}

header .menu-togle i.fa-plus {
    transform: rotate(45deg)
}

.greting_block p,
.greting_block h5 {
    display: none
}

@media screen and (min-width: 768px) {
    header .logo_head,
    header .menu-togle {
        display: none
    }
    .greting_block p,
    .greting_block h5,
    .profil_block .profil {
        display: block
    }
    .greting_block h5 {
        font-size: 1rem
    }
    .greting_block p {
        font-size: .8rem;
        color: var(--text-clr)
    }
}

.side_bar {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--main-color-light);
    text-align: center;
    left: -400%;
    top: 0;
    transition: all ease-in-out .3s;
    z-index: 10000;
    box-shadow: -7px -11px 20px 4px #0000003b
}

.side_bar.show {
    left: 0
}

.side_bar .logo {
    width: 100%;
    height: 87px;
    background: white
}

.side_bar .logo i {
    position: absolute;
    z-index: 10000;
    color: #fff;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    transform: rotate(45deg);
    opacity: 1;
    cursor: pointer
}

.side_bar .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

@media screen and (min-width: 430px) {
    .side_bar .logo i {
        opacity: 0
    }
}

.side_bar .side_bar_content {
    padding-top: 2rem
}

.side_bar .side_bar_content ul {
    padding: .5rem
}

.side_bar .side_bar_content ul li {
    font-size: .95rem;
    font-weight: 500
}

.side_bar .side_bar_content ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .6rem;
    text-transform: capitalize;
    transition: all ease-in-out .25s;
    position: relative;
    color: var(--white);
    padding: .6rem 0;
    padding-left: 8%;
    text-decoration: none;
    border-radius: 3px;
    transition: all ease-in-out .3s;
    margin: .2rem 0
}

.side_bar .side_bar_content ul li a:hover,
.side_bar .side_bar_content ul li a.active {
    color: var(--main-color);
    background-color: var(--white)
}

@media screen and (min-width: 430px) {
    .side_bar {
        width: 300px
    }
}

@media screen and (min-width: 768px) {
    .side_bar {
        position: relative;
        left: inherit;
        top: inherit;
        display: block;
        width: 250px
    }
}

@media screen and (min-width: 1005px) {
    .side_bar .logo {
        height: 119px
    }
}

.page_wrapper {
    display: block;
    height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto
}

@media screen and (min-width: 765px) {
    .page_wrapper {
        display: grid
    }
}

@media screen and (min-width: 1025px) {
    .page_wrapper {
        grid-template-columns: 300px 1fr
    }
    .side_bar {
        width: 300px
    }
}

.page_content {
    height: 100vh
}

.content_body {
    height: calc(100vh - 90px);
    padding: 1rem 2rem
}

#home.content_body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.content_body div>p {
    margin: 5rem auto;
    font-size: 3rem;
    font-weight: 600
}

@media screen and (max-width: 1104px) {
    .content_body div>p {
        margin: 2rem auto;
        font-size: 2rem
    }
}

#home .cards_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem
}

#home .cards_list .card {
    background: #055b98;
    border-radius: 5px;
    box-shadow: 0 0 5px #00000024;
    padding: 2rem 3rem;
    text-align: center;
    color: #fff
}

#home .cards_list .card i {
    font-size: 2.5rem;
    display: block;
    margin-bottom: .6rem
}

@media screen and (max-width: 735px) {
    #home .cards_list .card {
        padding: 1.5rem 2rem
    }
    #home .cards_list .card i {
        font-size: 2rem
    }
}

@media screen and (max-width: 510px) {
    #home.content_body div>p {
        font-size: 1.5rem
    }
}

.table_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 2rem
}

.table_header h3 {
    font-size: 1.5rem;
    text-transform: uppercase
}

.table_header button {
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    padding: .6rem 1rem;
    border-radius: 3px;
    color: #fff;
    background: var(--section-overlay);
    font-weight: 600;
    font-family: Poppins, sans-serif;
    cursor: pointer
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: .8rem;
    position: relative
}

.btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.btn.btn_delete {
    background-color: #d85151
}

.btn.btn_show,
.btn.btn_update {
    background-color: var(--main-color-light)
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem
}

#login {
    height: 100vh!important;
    background: url(./hero_bg-NOV3LEET.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#login .wrapper {
    height: 100%;
    width: 100%;
    background-color: #000000ba;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem
}

#login form {
    padding: 2rem 1.5rem;
    background: white;
    border-radius: 5px;
    width: min(400px, 100%)
}

#login form h1 {
    text-align: center;
    text-transform: capitalize
}

#login form .fom_control {
    margin: 1rem 0
}

#login form .fom_control input {
    display: block;
    width: 100%;
    padding: .7rem .5rem;
    margin: .5rem 0;
    background: #edecec;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-size: .85rem
}

#login form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background: black;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    opacity: 1;
    transition: all ease-in-out .3s
}

#login form button:hover {
    opacity: .9
}

#login form button.active {
    cursor: not-allowed
}

#login .fom_control .pswd_input {
    position: relative
}

#login .fom_control .pswd_input input {
    padding-right: 1.8rem
}

#login .fom_control .pswd_input img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    cursor: pointer
}

#login form>a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 1rem;
    color: #000;
    transition: all ease-in-out .3s
}

#login form>a:hover {
    color: var(--main-color)
}

.pop_frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000c4;
    z-index: 99999;
    top: 0;
    display: none
}

.pop_frame.active {
    display: flex;
    justify-content: center;
    align-items: center
}

.pop_frame .close_btn {
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-size: 2rem;
    color: #fff;
    transform: rotate(45deg);
    cursor: pointer
}

.pop_frame form {
    padding: 2rem 1.5rem;
    background: white;
    border-radius: 5px;
    width: min(600px, 100%)
}

.pop_frame form h1 {
    text-align: center
}

.pop_frame form .fom_control {
    margin: 1rem 0
}

.pop_frame form .fom_control select,
.pop_frame form .fom_control textarea,
.pop_frame form .fom_control input {
    display: block;
    width: 100%!important;
    padding: .7rem .5rem;
    margin: .5rem 0;
    background: #edecec;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-size: .85rem
}

.pop_frame form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background: black;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    opacity: 1;
    transition: all ease-in-out .3s
}

.pop_frame form button:hover {
    opacity: .9
}

.pop_frame form button.active {
    cursor: not-allowed
}

.swal2-styled.swal2-confirm {
    background-color: #df3232!important
}

.swal2-styled.swal2-cancel {
    background-color: #393a3a!important
}

.swal2-container {
    z-index: 106000000!important
}

.dataTables_wrapper .dataTables_length {
    display: none
}

.dataTables_scrollBody::-webkit-scrollbar {
    width: 4px!important
}

.dataTables_scrollBody::-webkit-scrollbar-track {
    background: #f1f1f1!important
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background: #888!important
}

.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
    background: #555!important
}

.dataTables_scrollHeadInner {
    padding-right: 0!important
}

.file_system {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem
}

.file_system .form_img label {
    width: 100%;
    max-height: 250px;
    display: block
}

.file_system .form_img label img {
    width: 100%;
    object-fit: cover;
    height: 250px
}

.image_pop_frame form {
    width: min(800px, 100%)
}