{% extends 'layout.njk' %} 
{% set title = 'NotFound | 404' %} 
{% set pageKey = 'NotFound' %} 
{% set isActive = 'NotFound' %} 
{% block content %}
    <section class="d-flex jc-c ai-c">
        <p>une erreur est survenue !</p>
    </section>
{% endblock %}