{% extends 'layout.njk' %} 
{% set title = 'Home' %} 
{% set pageKey = 'home' %} 
{% set isActive = 'home' %} 
{% block content %}

<!-- section hero start -->
<section class="hero d-flex jc-c ai-c">
    <img src="/static/assets/images/hero_bg.jpg" alt="background de la section hero" id="hero_bg">
    <div class="wrapper">
        <h1>Avec <span>SECURIX</span> <br> assurez-vous en toute TRANQUILLITE D’ESPRIT.</h1>
        <p>Nous déployons nos efforts en assurance et en réassurance pour trouver les couvertures adaptées à vos besoins en tenant compte de vos contraintes budgétaires et de la nécessité d’accélérer le règlement des sinistres. Cette approche vous permet d’économiser de l’argent, de gagner en confiance, et de vous concentrer sur vos véritables priorités. </p>
        <a href="/contact" class="btn bn-main">Commencer</a>
    </div>
</section>
<!-- section hero end -->
<!-- section services start -->
<section class="services d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="section_title">
            <h2 class="title_text">nos services</h2>
            <span class="title_background">services</span>
        </div>
        <div class="services_content_text">
            <p>Les services proposés par SECURIX ASSURANCES portent principalememnt sur
La recherche des couvertures adaptées aux besoins de la clientèle et L’accompagnement dans le suivi des dossiers sinistres. 
</p>
        </div>
        <div class="services_content d-grid gap-1">
            {% for service in services %}
                <div class="services_content_card">
                    <img src="/static{{service.cover}}" alt="image decrivant le service de l'entreprise">
                    <a href="/services" class="services_content_card_text">{{ service.title }}</a>
                    {# <a href="#" class="services_content_card_text">Le règlement <span>rapide des sinistres</span></a> #}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- section services end -->
<!-- section divider start -->
<section class="divider bg-main d-flex jc-c ai-c">
    <div class="wrapper">
        <h1>Rejoignez-nous vite !</h1>
        <p>Vous avez un besoin d’assurance ? Une question ? Rejoignez-nous maintenant via les canaux ci-après :
            <ul class="contact-section-list">
                <li >- info@securix-assurance.com </li>
                <li > - sur notre page <a href="/contact">contact</a></li>
            </ul>
    </div>
</section>
<!-- section divider end -->
<!-- section atouts start -->
<section class="atouts d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="section_title">
            <h2 class="title_text">nos atouts</h2>
            <span class="title_background">atouts</span>
        </div>
        <div class="atouts_content">
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-radio-waves-70.png" alt="">
                    <h2 class="atout_title">L'ecoute</h2>
                    <p class="atout_desc">L'écoute est un élément clé à SECURIX ASSURANCES qui nous permet de mieux cerner les besoins de notre clientèle et d'y répondre favorablement.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-home-70.png" alt="">
                    <h2 class="atout_title">PROXIMITÉ</h2>
                    <p class="atout_desc">Nous restons proches de vous à la souscription des contrats comme à la survenance des sinistres.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-handshake-70.png" alt="">
                    <h2 class="atout_title">LOYAUTÉ</h2>
                    <p class="atout_desc">Le respect des engagements est un principe à SECURIX ASSURANCES. LE CLIENT est notre raison d’être. Nous lui assurons en permanence la TRANQUILLITÉ D’ESPRIT.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-innovation-70.png" alt="">
                    <h2 class="atout_title">INNOVATION</h2>
                    <p class="atout_desc">Des solutions appropriées aux besoins de nos clients, SECURIX ASSURANCES, de concert avec ses partenaires, recherchera des solutions de couverture innovantes.</p>
                </div>
            </div>
            <div class="atout_card">
                <div class="atout_wrapper">
                    <img class="atout_img" src="/static/assets/images/atouts/icons8-user-groups-70.png" alt="">
                    <h2 class="atout_title">PROFESSIONNALISME</h2>
                    <p class="atout_desc">Nous avons des collaborateurs bien formés et ayant plusieurs années d’expérience professionnelle qui sauront trouver, à chaque cas, la solution idoine.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section atouts end -->
<!-- section atouts start -->
<section class="about d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="section_title">
            <h2 class="title_text">securix</h2>
            <span class="title_background">A PROPOS</span>
        </div>
        <div class="about_content d-flex jc-c ai-s">
            <div class="about_img">
                <img src="/static/assets/images/about.jpg" alt="image decrivant la section a propos de l'etreprise">
            </div>
            <div class="about_text">
                <h1 class="about_title">Qui sommes nous ?</h1>
                <p>
                    SECURIX ASSURANCES SARL est une société de courtage agréée par les autorités ivoiriennes de régulation des assurances sous le numéro 0315/MEF/DGTCP/DA du 02/09/2021. Elle est située à Abidjan dans la Commune de Cocody Angré 7ème tranche non loin du pont SORO. <br>
                    <br>
                    Nous nous positionnons sur le digital pour demeurer proche de nos partenaires.
                    <br>
                    <br>
                    Avec le soutien des compagnies d’assurances majeures du marché, nous apportons des solutions innovantes aux besoins diversifiés des assurés à travers des services à valeur ajoutée tels que le consulting, la gestion des contrats et le règlement des sinistres.<br>
                    <br>
                    Notre mission est de soutenir les personnes physiques prises tant individuellement que collectivement. Elle s’étend aussi aux personnes morales notamment aux Petites et Moyennes Entreprises (PME) dans leurs problématiques de gestion des risques et de leur transfert aux sociétés d’assurances. Un autre aspect est de favoriser l’accès à l’assurance dans notre pays en tirant profit de l’innovation numérique pour faciliter le quotidien des assurés. Enfin, nous voudrions apporter de la plus-value au marché à travers des solutions participatives et des prises d’initiatives avec les acteurs du marché.
                    <br>
                </p>
                <a href="/contact" class="btn bn-main">Contacter Nous</a>
            </div>
        </div>
    </div>
</section>
<!-- section abouts end -->
<!-- section divider start -->
<section class="divider statistique bg-main d-flex jc-c ai-c">
    <div class="wrapper">
        <h1>Demandez plus</h1>
        <p> Comme vous êtes notre priorité, nous avons mis en place un système qui vous permet d’envoyer  <a href="/faq">des questions</a> et nous nous chargerons de vous répondre dans un delais de 24h maximum, car la proximité est l’essence même de notre métier.</p>
    </div>
</section>
<!-- section divider end -->
<!-- section blog start -->
<section class="blog d-flex jc-c ai-c">
    <div class="wrapper">
        <div class="blog_title d-flex jc-betw ai-c">
            <div class="section_title">
                <h2 class="title_text">nos articles</h2>
                <span class="title_background">Blog</span>
            </div>

            <div class="arrows d-flex jc-c ai-c">
                <span class="left">
                    <i class="fa-solid fa-angle-left"></i>
                </span>
                <span class="right">
                    <i class="fa-solid fa-angle-right"></i>
                </span>
            </div>
        </div>
        {% import "./components/article_card.njk" as BlogCard %}
        <div class="article_list owl-carousel">
            {# lister les questions #}
                    {% for art in articles %}
                        <div class="card_wrapper">
                            {{ BlogCard.BlogCard(art) }}
                        </div>
                    {% endfor %}
                    {# fin #}
        </div>
        <div class="blog_footer">
            <a href="/blog">voir plus ?</a>
        </div>
    </div>
</section>
<!-- section blog end -->
{% endblock %}
